*,
*::after,
*::before {
    box-sizing: border-box;
}

body {
    margin: 0;
    display: flex;
    grid-template-columns: 7rem 2rem 7rem;
    grid-template-rows:repeat(2,4rem);
    /* gap: 0.5rem; */
    justify-content: center;
    padding-top: 1rem;
}

.deck {
    height: 100%;
    width: 100%;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3rem;
    border-radius: 0.5rem;
    color: white;
}
.card-slot{
    height:100%;
    width:100%;
}
.main-slot{
    height: 7em;
    width:2em;
}
.text {
    grid-column: span 2;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card {
    position: relative;
    height: 2.5em;
    width: 1.5em;
    text-align: left;
    border: 2px solid black;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    /* align-items: center; */
    font-size: 4rem;
}

.card[data-color="red"] {
    color: red;
}

.card[data-color="black"] {
    color: black;
}

.card::before,
.card::after {
    position: static;
    content: attr(data-value);
    font-size: 1rem;
    padding: 0.5rem;

}

.card::before {
    top: .5rem;
    left: .5rem;
    padding-top: 0%;
}

.card::after {
    bottom: .5rem;
    right: .5rem;
    padding-bottom: 50%;
    transform: rotate(180deg);
}

.ns {
    user-select: none;
}