:root{
    --card-height:2.5em;
    --card-width:1.55em;
}
*,
*::after,
*::before {
    box-sizing: border-box;
}

body {
    margin: 0;
    display: flex;
    gap: 0.5rem;
    justify-content: center;
    padding-top: 1rem;
}
.main{
    display:inline-block
}

.stacks>* {
    display: inline-block;
    vertical-align: middle;
    margin-top:eval(var(--card-height)+10px);
}

.deck {
    height: 100%;
    width: 100%;
    border: 1px solid black;
    font-size: 3rem;
    border-radius: 0.5rem;
    color: white;
}

.card-slot {
    height: 100%;
    width: 100%;
    user-select: none;
    cursor:grab;
}
.card-slot:active{
    cursor:grabbed;
}
.restart{
    color:black;
    cursor:pointer;
}
.ImageImage {
    display: inline-block;
    width: 100%;
    height: 100%;
    padding: 5px;
    border-radius: 10px;
    margin-top: 10px;
    position: absolute;
}

.main-slot {
    height: 7em;
    width: 2em;
    vertical-align: middle;
    display: contents;
}

.main-slot>img {
    scale: 1;
}

.text {
    grid-column: span 2;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card {
    position: relative;
    height: var(--card-height);
    width: var(--card-width);
    text-align: left;
    display: inline-flex;
    flex: 50%;
    justify-content: center;
    /* align-items: center; */
    font-size: 4rem;
}

.card[data-color="red"] {
    color: red;
}

.card[data-color="black"] {
    color: black;
}

.card::before,
.card::after {
    position: static;
    content: attr(data-value);
    font-size: 1rem;
    padding: 0.5rem;
}

.card::before {
    top: .5rem;
    left: .5rem;
    padding-top: 0%;
}

.card::after {
    bottom: .5rem;
    right: .5rem;
    padding-bottom: 50%;
    transform: rotate(180deg);
}

.ns {
    user-select: none;
}